html, body {
    background-color: black;
}

div {
    height: 100%;
    width: 100%;
}

iframe {
    border: none;
    height: 100%;
}


#package_explorer {
    width: 350px;
}

#editor {
    background-color: #303030;
}

#chat {
    width: 30%;
    background-color: #242424;
}


