body {
    background-color: #242424;
}

div {
    color: white;
}

hr {
    border-color: #707070;
    margin: 0;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 14px;
}

#title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding-top: 2px;
    border-radius: 50%; 
    font-size: 8px; 
} 
.btn-circle.btn-sm:hover {
    background-color: #505050;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.list-group {
    margin-bottom: 8px;
}

.list-group-item {
    background-color: transparent;
    border: none;
    border-radius: 0 !important;
}

a {
    color: white;
}
a:hover {
    color: white;
    text-decoration: none;
}

.collapse_indicator {
    padding-right: 16px;
}

.folder {
    height: 48px;
}

.file {
    padding: 0 0 0 80;
    height: 32px;
}

.file:hover {
    background-color: #505050;
}

.file > img {
    height: 60%;
}